/* nrf52840dk_nrf52840.overlay */
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/pinctrl/nrf-pinctrl.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        zmk,display = &st7789; /* Peka ut skärmen här */
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <1>;
        map = <RC(0,0) RC(0,1) RC(0,2)>;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        /* Din lödning: Svart streck mot raden = col2row */
        diode-direction = "col2row";

        /* RADEN: Mottagare med Pull-Down */
        row-gpios = <&gpio1 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

        /* KOLUMNER: Sändare */
        col-gpios
            = <&gpio1 4 GPIO_ACTIVE_HIGH>
            , <&gpio1 5 GPIO_ACTIVE_HIGH>
            , <&gpio1 6 GPIO_ACTIVE_HIGH>;
    };
};

/* --- SKÄRM-KONFIGURATION (Port 1) --- */

/* Definiera pinnarna för SPI-hårdvaran */
&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,  /* P1.15 = CLK */
                    <NRF_PSEL(SPIM_MOSI, 1, 13)>; /* P1.13 = SDA */
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 13)>;
            low-power-enable;
        };
    };
};

/* Aktivera SPI och lägg till skärmen */
&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";

    /* Chip Select (CS) på P1.12 */
    cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;

    st7789: st7789v@0 {
        compatible = "sitronix,st7789v";
        spi-max-frequency = <20000000>;
        reg = <0>;

        width = <240>;
        height = <240>;
        x-offset = <0>;
        y-offset = <0>;

        vcom = <0x19>;    /* VCOM Voltage Setting */
        gatem = <0x07>;   /* Gate Control */
        madctl = <0x00>;  /* Memory Data Access Control (Rotera bild) */
        colmod = <0x55>;  /* Color Mode (16-bit color) */
        /* ----------------------------- */

        reset-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
        cmd-data-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
    };
};
